:root {
  --color-primary: #ff7100;
  --text-color: white;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: var(--text-color);
  font-family: "Oxanium", sans-serif;
}

.error > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("../media/exploding-planet.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
p,
a {
  background-color: #400000;
}

.error > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  font-family: var(--font-primary);
  font-size: clamp(0.8rem, 1.6vw, 1.8rem);
  text-decoration: none;
  border-radius: 3rem;
  margin-top: 4rem;
  padding: 0.5rem;
  color: black;
  border: 2px solid #ff8521;
  background-color: var(--color-primary);
  box-shadow: 0 9px #171717;
  cursor: pointer;
}

button:hover {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  border: 2px solid var(--color-primary);
  font-size: clamp(0.8rem, 1.6vw, 1.8rem);
  border-radius: 3rem;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: #ce6005;
}

button:active {
  color: var(--text-color);
  background-color: #ce6005;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 768px) {
  .error > div {
    padding: 1.5rem;
  }
}
