* {
  margin: 0;
  padding: 0;
}

body {
  --color-primary: #ff7100;
  --text-color: white;

  height: auto;
  width: 100vw;
  background-image: url("../media/starry-background.gif");
  color: var(--text-color);
  font-family: "Oxanium", sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2,
h3 {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10%;
}

.footer > p:last-child {
  font-size: 0.5rem;
}

.footer > p:last-child > a {
  color: var(--text-color);
  text-decoration: none;
}
.footer > p:last-child > a:hover {
  color: var(--text-color);
  text-decoration: underline;
}
